[Unit]
Description=Teeworlds server

# Assert required files are presente
AssertPathExists=/opt/teeworlds/server
AssertFileIsExecutable=/opt/teeworlds/server

# Create dependency network
Wants=network-online.target boot-complete.target
After=network-online.target boot-complete.target teeworlds-db.service
Requires=teeworlds-db.service

[Service]
Type=exec
ExecStart=/opt/teeworlds/server -f autoexec-%i.cfg

# Run as teeworlds:teeworlds, prevent privilege escalation
User=teeworlds
Group=teeworlds
NoNewPrivileges=true

WorkingDirectory=/opt/teeworlds/

# Sandboxing
ProtectSystem=strict
ReadWritePaths=/opt/teeworlds /tmp
PrivateDevices=true
ProtectKernelTunables=true

# Restart the server except when stopped with systemctl
Restart=always

# Try to prevent the server from being OOM killed
OOMScoreAdjust=-100

# Terminate or restart the process by sending a SIGINT
KillSignal=SIGINT