.password {
	text-align: center;
	font-size: 200%;
}

a {
	text-decoration-color: initial;
}

.nav a, a.btn {
	text-decoration: none;
}

.table-primary, .table-primary > td, .table-primary > th {
	background-color: #ffe5b8
}

.table-primary tbody + tbody, .table-primary td, .table-primary th, .table-primary thead th {
	border-color: #ffcf7a
}

.table-hover .table-primary:hover {
	background-color: #ffdc9f
}

.table-hover .table-primary:hover > td, .table-hover .table-primary:hover > th {
	background-color: #ffdc9f
}

.btn-primary {
	color: #212529;
	background-color: #ffa200;
	border-color: #ffa200
}

.btn-primary:hover {
	color: #fff;
	background-color: #d98a00;
	border-color: #cc8200
}

.btn-primary.focus, .btn-primary:focus {
	color: #fff;
	background-color: #d98a00;
	border-color: #cc8200;
	box-shadow: 0 0 0 .2rem rgba(222, 143, 6, .5)
}

.btn-primary.disabled, .btn-primary:disabled {
	color: #212529;
	background-color: #ffa200;
	border-color: #ffa200
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #cc8200;
	border-color: #bf7a00
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(222, 143, 6, .5)
}

.btn-outline-primary {
	color: #ffa200;
	border-color: #ffa200
}

.btn-outline-primary:hover {
	color: #212529;
	background-color: #ffa200;
	border-color: #ffa200
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
	box-shadow: 0 0 0 .2rem rgba(255, 162, 0, .5)
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	color: #ffa200;
	background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
	color: #212529;
	background-color: #ffa200;
	border-color: #ffa200
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(255, 162, 0, .5)
}

.badge-primary {
	color: #212529;
	background-color: #ffa200
}

a.badge-primary:focus, a.badge-primary:hover {
	color: #212529;
	background-color: #cc8200
}

a.badge-primary.focus, a.badge-primary:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(255, 162, 0, .5)
}

.alert-primary {
	color: #855400;
	background-color: #ffeccc;
	border-color: #ffe5b8
}

.alert-primary hr {
	border-top-color: #ffdc9f
}

.alert-primary .alert-link {
	color: #523400
}

.list-group-item-primary {
	color: #855400;
	background-color: #ffe5b8
}

.list-group-item-primary.list-group-item-action:focus, .list-group-item-primary.list-group-item-action:hover {
	color: #855400;
	background-color: #ffdc9f
}

.list-group-item-primary.list-group-item-action.active {
	color: #fff;
	background-color: #855400;
	border-color: #855400
}

.bg-primary {
	background-color: #ffa200 !important
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
	background-color: #cc8200 !important
}

.border-primary {
	border-color: #ffa200 !important
}

.text-primary {
	color: #ffa200 !important
}

a.text-primary:focus, a.text-primary:hover {
	color: #b37100 !important
}

:root {
	--primary: #ffa200;
}