# Do not include secrets in the repo
provisioning/secrets.yml

# Remove other people's roles but not ours
provisioning/roles/*
!provisioning/roles/reload-nginx

# Remove stuff
.vagrant
.vscode
.idea/

# Don't include cloned repositories
provisioning/files/teeworlds/teeworlds
provisioning/files/phpmailer

# Remove files from test runs of the database script
provisioning/files/teeworlds/database/data/database
provisioning/files/teeworlds/database/data/database-journal
provisioning/files/teeworlds/database/kills.log

# Exclude testing file, will be created by Ansible
provisioning/files/nginx-site-files/config.php
provisioning/files/nginx-site-files/classifica.html
