[Unit]
Description=Teeworlds database

# Assert required files are presente
AssertPathExists=/opt/teeworlds/database.py
AssertPathExists=/opt/teeworlds/kills.log

# Create dependency network
Wants=network-online.target boot-complete.target
After=network-online.target boot-complete.target

[Service]
Type=exec
ExecStart=/usr/bin/python3 /opt/teeworlds/database.py

# Run as teeworlds:teeworlds, prevent privilege escalation
User=teeworlds
Group=teeworlds
NoNewPrivileges=true

WorkingDirectory=/opt/teeworlds/

# Sandboxing
ProtectSystem=strict
ReadWritePaths=/opt/teeworlds /tmp
PrivateDevices=true
ProtectKernelTunables=true

# Restart the server except when stopped with systemctl
Restart=always

# Try to prevent the server from being OOM killed
OOMScoreAdjust=-100

# Terminate or restart the process by sending a SIGINT
KillSignal=SIGINT

[Install]
RequiredBy=teeworlds-server.service