.alert {
    padding: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 0.325rem;
  }

.alert-danger {
  background-color: #f44336;
  color: #ffffff;
}

.alert-info {
  background-color: #49fcd4;
  color: #000000;
}