---
# Hostname of the server
hostname: "example.com"

# Email used to create the certificate with certbot
admin_email: "mail@example.com"

# Wether to use a certificate from the staging server
use_test_cert: true
